Repository AI-Decenter/MerkleKV-Mobile, changes with the owners that CODEOWNERS names for each.
All owners: @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-transport, @AI-Decenter/merkle-kv-replication, @AI-Decenter/merkle-kv-mobile, @AI-Decenter/merkle-kv-storage, @AI-Decenter/merkle-kv-security, @AI-Decenter/merkle-kv-performance, @AI-Decenter/merkle-kv-testing, @AI-Decenter/merkle-kv-docs, @AI-Decenter/merkle-kv-infra

CODEOWNERS:

# This file defines code ownership for the MerkleKV Mobile repository
# Each line is a file pattern followed by one or more owners
# Owners can be GitHub usernames, email addresses, or team names

# Global fallback - core team reviews everything by default
* @AI-Decenter/merkle-kv-core

# Core Engine & API
/src/core/ @AI-Decenter/merkle-kv-core
/src/api/ @AI-Decenter/merkle-kv-core
/src/types/ @AI-Decenter/merkle-kv-core
/src/utils/ @AI-Decenter/merkle-kv-core
/src/errors/ @AI-Decenter/merkle-kv-core

# MQTT Transport Layer
/src/mqtt/ @AI-Decenter/merkle-kv-transport
/src/transport/ @AI-Decenter/merkle-kv-transport
/src/connection/ @AI-Decenter/merkle-kv-transport
/src/protocols/ @AI-Decenter/merkle-kv-transport

# Replication & Merkle Tree System
/src/replication/ @AI-Decenter/merkle-kv-replication
/src/merkle/ @AI-Decenter/merkle-kv-replication
/src/consensus/ @AI-Decenter/merkle-kv-replication
/src/vector-clock/ @AI-Decenter/merkle-kv-replication
/src/conflict-resolution/ @AI-Decenter/merkle-kv-replication

# Mobile Platform Integrations
/src/mobile/ @AI-Decenter/merkle-kv-mobile
/src/react-native/ @AI-Decenter/merkle-kv-mobile
/android/ @AI-Decenter/merkle-kv-mobile
/ios/ @AI-Decenter/merkle-kv-mobile

# Storage & Persistence
/src/storage/ @AI-Decenter/merkle-kv-storage
/src/persistence/ @AI-Decenter/merkle-kv-storage
/src/indexing/ @AI-Decenter/merkle-kv-storage

# Security & Authentication
/src/security/ @AI-Decenter/merkle-kv-security
/src/auth/ @AI-Decenter/merkle-kv-security
/src/acl/ @AI-Decenter/merkle-kv-security
/src/encryption/ @AI-Decenter/merkle-kv-security

# Performance & Optimization
/src/performance/ @AI-Decenter/merkle-kv-performance
/src/metrics/ @AI-Decenter/merkle-kv-performance
/src/monitoring/ @AI-Decenter/merkle-kv-performance

# Testing Infrastructure
/tests/ @AI-Decenter/merkle-kv-testing
/test/ @AI-Decenter/merkle-kv-testing
/__tests__/ @AI-Decenter/merkle-kv-testing
*.test.ts @AI-Decenter/merkle-kv-testing
*.test.js @AI-Decenter/merkle-kv-testing
*.spec.ts @AI-Decenter/merkle-kv-testing
*.spec.js @AI-Decenter/merkle-kv-testing

# Documentation
/docs/ @AI-Decenter/merkle-kv-docs
/documentation/ @AI-Decenter/merkle-kv-docs
README.md @AI-Decenter/merkle-kv-docs
CONTRIBUTING.md @AI-Decenter/merkle-kv-docs
*.md @AI-Decenter/merkle-kv-docs

# Infrastructure & DevOps
/.github/ @AI-Decenter/merkle-kv-infra
/scripts/ @AI-Decenter/merkle-kv-infra
/tools/ @AI-Decenter/merkle-kv-infra
Dockerfile @AI-Decenter/merkle-kv-infra
docker-compose.yml @AI-Decenter/merkle-kv-infra
.dockerignore @AI-Decenter/merkle-kv-infra

# Build & Configuration
package.json @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
package-lock.json @AI-Decenter/merkle-kv-infra
yarn.lock @AI-Decenter/merkle-kv-infra
tsconfig.json @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
webpack.config.js @AI-Decenter/merkle-kv-infra
babel.config.js @AI-Decenter/merkle-kv-infra
jest.config.js @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-testing
eslint.config.js @AI-Decenter/merkle-kv-infra
.eslintrc* @AI-Decenter/merkle-kv-infra
.prettierrc* @AI-Decenter/merkle-kv-infra

# CI/CD Workflows
/.github/workflows/ @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
/.github/actions/ @AI-Decenter/merkle-kv-infra

# Security & Process Files
SECURITY.md @AI-Decenter/merkle-kv-security @AI-Decenter/merkle-kv-core
CODE_OF_CONDUCT.md @AI-Decenter/merkle-kv-core
CODEOWNERS @AI-Decenter/merkle-kv-core

# Issue & PR Templates
/.github/ISSUE_TEMPLATE/ @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core
/.github/PULL_REQUEST_TEMPLATE.md @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core

# Release & Changelog
CHANGELOG.md @AI-Decenter/merkle-kv-core
RELEASE_PROCESS.md @AI-Decenter/merkle-kv-core @AI-Decenter/merkle-kv-infra

# Environment & Secrets
.env* @AI-Decenter/merkle-kv-security @AI-Decenter/merkle-kv-infra
.gitignore @AI-Decenter/merkle-kv-infra

# Examples & Demos
/examples/ @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core
/demo/ @AI-Decenter/merkle-kv-docs
/samples/ @AI-Decenter/merkle-kv-docs

Update create_project.sh
  create_project.sh
Owners: @AI-Decenter/merkle-kv-core

Update ci/mosquitto.conf
  ci/mosquitto.conf
Owners: @AI-Decenter/merkle-kv-core

Update .github/workflows/docs.yml
  .github/workflows/docs.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Implement deterministic CBOR serializer for replication events (Issue #12)
  CHANGELOG.md
  README.md
  docs/architecture.md
  packages/merkle_kv_core/README.md
  packages/merkle_kv_core/lib/merkle_kv_core.dart
  packages/merkle_kv_core/lib/src/replication/cbor_serializer.dart
  packages/merkle_kv_core/test/replication/cbor_serializer_test.dart
Owners: @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-docs

Resolve merge conflict: integrate Command Processor with CBOR serializer
  README.md
Owners: @AI-Decenter/merkle-kv-docs

Fix README.md formatting and improve structure
  README.md
Owners: @AI-Decenter/merkle-kv-docs

Add GitHub Actions workflow for automatic Dart formatting
  .github/workflows/fix-format.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Enhance CI workflow with automatic Dart formatting
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

feat: implement comprehensive unit test suite for Issue #23
  packages/merkle_kv_core/pubspec.lock
  packages/merkle_kv_core/pubspec.yaml
  packages/merkle_kv_core/scripts/run_unit_tests.sh
  packages/merkle_kv_core/scripts/validate_tests.sh
  packages/merkle_kv_core/test/unit/README.md
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
  packages/merkle_kv_core/test/unit/negative_tests.dart
  packages/merkle_kv_core/test/unit/processor/command_processor_test.dart
  packages/merkle_kv_core/test/unit/property_based_tests.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
  packages/merkle_kv_core/test/unit/simple_test.dart
  packages/merkle_kv_core/test/unit/storage/storage_engine_test.dart
  packages/merkle_kv_core/test/unit/unit_test_suite.dart
Owners: @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-docs

Fix comprehensive unit test issues with minimal changes
  .github/workflows/test_optimized.yml
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.mocks.dart
  packages/merkle_kv_core/test/unit/negative_tests.dart
  packages/merkle_kv_core/test/unit/processor/command_processor_test.dart
  packages/merkle_kv_core/test/unit/processor/command_processor_test.mocks.dart
  packages/merkle_kv_core/test/unit/property_based_tests.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.mocks.dart
  packages/merkle_kv_core/test/unit/storage/storage_engine_test.dart
  packages/merkle_kv_core/test/unit/unit_test_suite.dart
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

fix: resolve dart analyze fatal errors and clean up unused imports
  packages/merkle_kv_core/lib/src/commands/command.dart
  packages/merkle_kv_core/lib/src/commands/error_classifier.dart
  packages/merkle_kv_core/lib/src/commands/timeout_manager.dart
  packages/merkle_kv_core/lib/src/models/key_value_result.dart
  packages/merkle_kv_core/lib/src/mqtt/optimized_mqtt_client.dart
Owners: @AI-Decenter/merkle-kv-core

fix: resolve MQTT broker CI failures and improve workflow reliability
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

fix: comprehensive test suite fixes and CI improvements
  packages/merkle_kv_core/lib/src/storage/in_memory_storage.dart
  packages/merkle_kv_core/lib/src/storage/storage_entry.dart
  packages/merkle_kv_core/pubspec.lock
  packages/merkle_kv_core/pubspec.yaml
  packages/merkle_kv_core/test/anti_entropy/anti_entropy_integration_test.dart
  packages/merkle_kv_core/test/integration/placeholder_integration_test.dart
  packages/merkle_kv_core/test/merkle/merkle_tree_integration_test.dart
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_integration_test.dart
  packages/merkle_kv_core/test/mqtt/topic_validator_integration_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
  packages/merkle_kv_core/test/utils/payload_optimization_integration_test.dart
  packages/merkle_kv_core/test_runner.dart
Owners: @AI-Decenter/merkle-kv-core

fix: resolve analyzer warnings and critical issues
  packages/merkle_kv_core/example/event_publisher_example.dart
  packages/merkle_kv_core/lib/src/commands/command_processor.dart
  packages/merkle_kv_core/lib/src/mqtt/optimized_mqtt_client.dart
  packages/merkle_kv_core/lib/src/replication/event_applicator.dart
  packages/merkle_kv_core/lib/src/replication/event_publisher.dart
  packages/merkle_kv_core/lib/src/utils/payload_optimizer.dart
  packages/merkle_kv_core/minimal_test.dart
  packages/merkle_kv_core/test/integration/placeholder_integration_test.dart
  packages/merkle_kv_core/test/mqtt/topic_router_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
  packages/merkle_kv_core/test/utils/payload_optimization_integration_test.dart
  packages/merkle_kv_core/test_runner.dart
Owners: @AI-Decenter/merkle-kv-core

fix: resolve test logic errors and disable strict analyzer rules
  packages/merkle_kv_core/analysis_options.yaml
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
Owners: @AI-Decenter/merkle-kv-core

Remove print statements from connection lifecycle tests
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
Owners: @AI-Decenter/merkle-kv-core

Remove code formatting checks and fix CI integration test issues
  .github/workflows/test_optimized.yml
  melos.yaml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix integration tests to skip when MQTT broker unavailable
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_integration_test.dart
  packages/merkle_kv_core/test/mqtt/mqtt_client_impl_test.dart
  packages/merkle_kv_core/test/replication/integration_test.dart
Owners: @AI-Decenter/merkle-kv-core

Enable real MQTT broker testing in CI with Docker mosquitto
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_integration_test.dart
  packages/merkle_kv_core/test/mqtt/mqtt_client_impl_test.dart
  packages/merkle_kv_core/test/replication/integration_test.dart
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Remove static analysis job and fix MQTT broker connection issues
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Remove all static analysis and formatting checks
  .github/workflows/android-testing.yml
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
  CONTRIBUTING.md
  melos.yaml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-docs

Fix unit tests to use mocks instead of real network connections
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
  packages/merkle_kv_core/test/unit/negative_tests.dart
  packages/merkle_kv_core/test/unit/processor/command_processor_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
  packages/merkle_kv_core/test/unit/storage/storage_engine_test.dart
  packages/merkle_kv_core/test_simple.dart
Owners: @AI-Decenter/merkle-kv-core

Fix MQTT broker initialization timing in CI workflows
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix Dart test framework issues by adding build artifact cleanup
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Enhanced Dart test framework debugging and dependency management
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix dart test command line flags and MQTT broker timing
  .github/workflows/full_ci.yml
  .github/workflows/test_optimized.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

fix: Complete comprehensive CI fixes - network mock, broker config & debugging
  .github/workflows/test_optimized.yml
  broker/mosquitto/config/mosquitto.conf
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
  packages/merkle_kv_core/test/replication/event_applicator_performance_test.dart
  packages/merkle_kv_core/test/replication/event_applicator_test.dart
  packages/merkle_kv_core/test/replication/event_publisher_integration_test.dart
  packages/merkle_kv_core/test/replication/event_publisher_test.dart
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

fix: Ensure proper state transitions on MQTT connection failures
  packages/merkle_kv_core/lib/src/mqtt/connection_lifecycle.dart
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
Owners: @AI-Decenter/merkle-kv-core

fix: Standardize MQTT connection error messages and state transitions
  packages/merkle_kv_core/lib/src/mqtt/connection_lifecycle.dart
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
Owners: @AI-Decenter/merkle-kv-core

Fix MQTT connection lifecycle test failures
  packages/merkle_kv_core/lib/src/config/merkle_kv_config.dart
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
  packages/merkle_kv_core/test/unit/router/topic_router_test.dart
Owners: @AI-Decenter/merkle-kv-core

Fix config tests for TLS enforcement changes
  packages/merkle_kv_core/test/config/merkle_kv_config_test.dart
Owners: @AI-Decenter/merkle-kv-core

Fix timing issue in unit test connection failure handling
  packages/merkle_kv_core/test/unit/mqtt/mqtt_client_test.dart
Owners: @AI-Decenter/merkle-kv-core

Add CI environment detection to skip MQTT connection tests
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
Owners: @AI-Decenter/merkle-kv-core

Fix CI failing integration tests by using proper test skip mechanisms
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_integration_test.dart
  packages/merkle_kv_core/test/mqtt/connection_lifecycle_test.dart
  packages/merkle_kv_core/test/mqtt/mqtt_client_impl_test.dart
Owners: @AI-Decenter/merkle-kv-core

Fix MQTT broker connectivity in CI workflow
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix Dart test loading issues in CI workflow
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Simplify CI workflow to fix Dart test loading issues
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix Dart SDK frontend_server.dart.snapshot issue in CI
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Improve CI test execution resilience
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core

Fix Dart SDK frontend_server.dart.snapshot issue
  .github/workflows/full_ci.yml
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core
