Repository AI-Decenter/MerkleKV-Mobile, changes with the owners that CODEOWNERS names for each.
All owners: @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-transport, @AI-Decenter/merkle-kv-replication, @AI-Decenter/merkle-kv-mobile, @AI-Decenter/merkle-kv-storage, @AI-Decenter/merkle-kv-security, @AI-Decenter/merkle-kv-performance, @AI-Decenter/merkle-kv-testing, @AI-Decenter/merkle-kv-docs, @AI-Decenter/merkle-kv-infra

CODEOWNERS:

# This file defines code ownership for the MerkleKV Mobile repository
# Each line is a file pattern followed by one or more owners
# Owners can be GitHub usernames, email addresses, or team names

# Global fallback - core team reviews everything by default
* @AI-Decenter/merkle-kv-core

# Core Engine & API
/src/core/ @AI-Decenter/merkle-kv-core
/src/api/ @AI-Decenter/merkle-kv-core
/src/types/ @AI-Decenter/merkle-kv-core
/src/utils/ @AI-Decenter/merkle-kv-core
/src/errors/ @AI-Decenter/merkle-kv-core

# MQTT Transport Layer
/src/mqtt/ @AI-Decenter/merkle-kv-transport
/src/transport/ @AI-Decenter/merkle-kv-transport
/src/connection/ @AI-Decenter/merkle-kv-transport
/src/protocols/ @AI-Decenter/merkle-kv-transport

# Replication & Merkle Tree System
/src/replication/ @AI-Decenter/merkle-kv-replication
/src/merkle/ @AI-Decenter/merkle-kv-replication
/src/consensus/ @AI-Decenter/merkle-kv-replication
/src/vector-clock/ @AI-Decenter/merkle-kv-replication
/src/conflict-resolution/ @AI-Decenter/merkle-kv-replication

# Mobile Platform Integrations
/src/mobile/ @AI-Decenter/merkle-kv-mobile
/src/react-native/ @AI-Decenter/merkle-kv-mobile
/android/ @AI-Decenter/merkle-kv-mobile
/ios/ @AI-Decenter/merkle-kv-mobile

# Storage & Persistence
/src/storage/ @AI-Decenter/merkle-kv-storage
/src/persistence/ @AI-Decenter/merkle-kv-storage
/src/indexing/ @AI-Decenter/merkle-kv-storage

# Security & Authentication
/src/security/ @AI-Decenter/merkle-kv-security
/src/auth/ @AI-Decenter/merkle-kv-security
/src/acl/ @AI-Decenter/merkle-kv-security
/src/encryption/ @AI-Decenter/merkle-kv-security

# Performance & Optimization
/src/performance/ @AI-Decenter/merkle-kv-performance
/src/metrics/ @AI-Decenter/merkle-kv-performance
/src/monitoring/ @AI-Decenter/merkle-kv-performance

# Testing Infrastructure
/tests/ @AI-Decenter/merkle-kv-testing
/test/ @AI-Decenter/merkle-kv-testing
/__tests__/ @AI-Decenter/merkle-kv-testing
*.test.ts @AI-Decenter/merkle-kv-testing
*.test.js @AI-Decenter/merkle-kv-testing
*.spec.ts @AI-Decenter/merkle-kv-testing
*.spec.js @AI-Decenter/merkle-kv-testing

# Documentation
/docs/ @AI-Decenter/merkle-kv-docs
/documentation/ @AI-Decenter/merkle-kv-docs
README.md @AI-Decenter/merkle-kv-docs
CONTRIBUTING.md @AI-Decenter/merkle-kv-docs
*.md @AI-Decenter/merkle-kv-docs

# Infrastructure & DevOps
/.github/ @AI-Decenter/merkle-kv-infra
/scripts/ @AI-Decenter/merkle-kv-infra
/tools/ @AI-Decenter/merkle-kv-infra
Dockerfile @AI-Decenter/merkle-kv-infra
docker-compose.yml @AI-Decenter/merkle-kv-infra
.dockerignore @AI-Decenter/merkle-kv-infra

# Build & Configuration
package.json @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
package-lock.json @AI-Decenter/merkle-kv-infra
yarn.lock @AI-Decenter/merkle-kv-infra
tsconfig.json @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
webpack.config.js @AI-Decenter/merkle-kv-infra
babel.config.js @AI-Decenter/merkle-kv-infra
jest.config.js @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-testing
eslint.config.js @AI-Decenter/merkle-kv-infra
.eslintrc* @AI-Decenter/merkle-kv-infra
.prettierrc* @AI-Decenter/merkle-kv-infra

# CI/CD Workflows
/.github/workflows/ @AI-Decenter/merkle-kv-infra @AI-Decenter/merkle-kv-core
/.github/actions/ @AI-Decenter/merkle-kv-infra

# Security & Process Files
SECURITY.md @AI-Decenter/merkle-kv-security @AI-Decenter/merkle-kv-core
CODE_OF_CONDUCT.md @AI-Decenter/merkle-kv-core
CODEOWNERS @AI-Decenter/merkle-kv-core

# Issue & PR Templates
/.github/ISSUE_TEMPLATE/ @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core
/.github/PULL_REQUEST_TEMPLATE.md @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core

# Release & Changelog
CHANGELOG.md @AI-Decenter/merkle-kv-core
RELEASE_PROCESS.md @AI-Decenter/merkle-kv-core @AI-Decenter/merkle-kv-infra

# Environment & Secrets
.env* @AI-Decenter/merkle-kv-security @AI-Decenter/merkle-kv-infra
.gitignore @AI-Decenter/merkle-kv-infra

# Examples & Demos
/examples/ @AI-Decenter/merkle-kv-docs @AI-Decenter/merkle-kv-core
/demo/ @AI-Decenter/merkle-kv-docs
/samples/ @AI-Decenter/merkle-kv-docs

fix: Handle Docker container conflicts in iOS E2E tests
  test/e2e/orchestrator/test_session_manager.dart
  test/e2e/test_mqtt_setup.dart
Owners: @AI-Decenter/merkle-kv-testing

perf: Optimize MQTT broker test performance
  test/e2e/orchestrator/test_session_manager.dart
  test/e2e/test_mqtt_setup.dart
Owners: @AI-Decenter/merkle-kv-testing

fix: Gracefully handle missing Docker in CI environments
  test/e2e/orchestrator/test_session_manager.dart
  test/e2e/test_mqtt_setup.dart
Owners: @AI-Decenter/merkle-kv-testing

feat: Auto-install Docker when not available in CI environments
  test/e2e/orchestrator/test_session_manager.dart
Owners: @AI-Decenter/merkle-kv-testing

feat: Implement smart MQTT broker with native-first fallback strategy
  test/e2e/orchestrator/test_session_manager.dart
Owners: @AI-Decenter/merkle-kv-testing

feat: Complete iOS E2E testing framework with cleanup and validation
  .github/workflows/mobile-e2e-tests.yml
  test/e2e/convergence/ios_convergence_test.dart
  test/e2e/network/ios_network_state_test.dart
  test/e2e/orchestrator/ios_test_session_manager.dart
  test/e2e/reports/ios_cleanup_validation_report.md
  test/e2e/reports/ios_e2e_mapping_summary.md
  test/e2e/scenarios/ios_lifecycle_scenarios.dart
  test/e2e/scenarios/mobile_lifecycle_scenarios.dart
  test/e2e/tests/ios_lifecycle_test.dart
Owners: @AI-Decenter/merkle-kv-infra, @AI-Decenter/merkle-kv-core, @AI-Decenter/merkle-kv-testing, @AI-Decenter/merkle-kv-docs

feat(security): add canonical topic-level authorization (cmd/res/replication) with client-side enforcement and metrics
  SECURITY.md
  packages/merkle_kv_core/lib/src/config/merkle_kv_config.dart
  packages/merkle_kv_core/lib/src/mqtt/mqtt_client_impl.dart
  packages/merkle_kv_core/lib/src/mqtt/topic_authorization.dart
  packages/merkle_kv_core/lib/src/mqtt/topic_router.dart
  packages/merkle_kv_core/test/mqtt/topic_authorization_test.dart
Owners: @AI-Decenter/merkle-kv-security, @AI-Decenter/merkle-kv-core

chore: include patch file for topic authorization feature
  topic-authorization.patch
Owners: @AI-Decenter/merkle-kv-core

chore: remove temporary patch file
  topic-authorization.patch
Owners: @AI-Decenter/merkle-kv-core

fix(security): enforce canonical topic authorization in router
  packages/merkle_kv_core/example/command_client_example.dart
  packages/merkle_kv_core/lib/src/mqtt/topic_router.dart
  packages/merkle_kv_core/test/mqtt/topic_router_test.dart
  packages/merkle_kv_core/test/unit/mqtt/topic_router_unit_test.dart
Owners: @AI-Decenter/merkle-kv-core

test(security): update integration suites for canonical authorization
  packages/merkle_kv_core/test/integration/end_to_end_operations_test.dart
  packages/merkle_kv_core/test/integration/multi_client_test.dart
Owners: @AI-Decenter/merkle-kv-core

fix: Update topic authorization wildcard handling and test configurations
  packages/merkle_kv_core/lib/src/mqtt/topic_authorization.dart
  packages/merkle_kv_core/test/mqtt/topic_router_test.dart
  packages/merkle_kv_core/test/unit/mqtt/topic_router_unit_test.dart
Owners: @AI-Decenter/merkle-kv-core

Revert "Feat/allow credentials without tls"
  apps/flutter_demo/README.md
  apps/flutter_demo/lib/main.dart
  apps/flutter_demo/lib/widgets/rich_console_view.dart
  apps/flutter_demo/lib/widgets/system_stats_panel.dart
  apps/flutter_demo/test/widget/counter_widget_test.dart
  packages/admin_api_server/README.md
  packages/admin_api_server/bin/server.dart
  packages/admin_api_server/pubspec.yaml
  packages/merkle_kv_core/README.md
  packages/merkle_kv_core/example/replication_demo.dart
  packages/merkle_kv_core/example/stream_console_demo.dart
  packages/merkle_kv_core/lib/merkle_kv_core.dart
  packages/merkle_kv_core/lib/src/mqtt/connection_lifecycle.dart
  packages/merkle_kv_core/lib/src/mqtt/connection_logger.dart
  packages/merkle_kv_core/lib/src/mqtt/log_entry.dart
  packages/merkle_kv_core/lib/src/mqtt/mqtt_client_impl.dart
Owners: @AI-Decenter/merkle-kv-docs, @AI-Decenter/merkle-kv-core
